/* 吹き出し */
.speech-bubble {
  position: relative;
  /* 移動するときの基準が元いた位置。positionを記述する前に配置されていた場所から移動すること */
  padding: 0.6em;
  background: #e0edff;
}

.speech-bubble:after {
  /* 疑似クラス */
  position: absolute;
  content: "";
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #e0edff;
  width: 0;
  height: 0;
}

/* タグ風吹き出し */
.tag {
  position: relative;
  display: inline-block;
  height: 64px;
  margin-left: 30px;
  padding: 1rem 2rem 1rem 3rem;
  color: #fff;
  background: #fa4141;
}

.tag:before {
  position: absolute;
  top: 0;
  left: -30px;
  content: "";
  border-width: 32px 30px 32px 0;
  border-style: solid;
  border-color: transparent #fa4141 transparent transparent;
}

.tag:after {
  position: absolute;
  top: calc(50% - 7px);
  left: -10px;
  width: 14px;
  height: 14px;
  content: "";
  border-radius: 50%;
  background: #fff;
}
