* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ヘッダー */

.header {
  padding: 0 30px;
}

.header-container {
  max-width: 1360px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.header-inner {
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
}
