* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ヘッダー */

.header {
  padding: 0 30px;
}

.header-container {
  max-width: 1360px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.header-inner {
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .header {
    height: 300px;
  }

  .header-container {
    width: 100%;
  }

  .header-inner {
    justify-content: center;
    flex-direction: column;
  }

  .header-left {
    justify-content: center;
    width: 100%;
  }

  .nav-list-item {
  }

  .header-right {
    justify-content: center;
    width: 100%;
  }

  main {
  }
}
